---
import dayjs from "dayjs";
import { t } from "i18next";
import { SERVER_URL, DATE_FORMAT } from "../config";
import Card from "./temple/Card.astro";
import Content from "./render/Content.astro";
import ShuoshuoComment from "./ShuoshuoComment.astro";
const { id, title, block, pubDate } = Astro.props;
const displayDate = dayjs(pubDate).format(DATE_FORMAT);
---

<Card>
    <article
        id={id}
        class="relative w-full h-full p-6 flex flex-col justify-between"
    >
        <span class="flex items-center text-neutral-content"
            ><i
                class="icon-[material-symbols--calendar-today-outline-rounded] mr-2"
            ></i>{displayDate}</span
        >
        {
            id && (
                <>
                    <a
                        tabindex="0"
                        class="flex not-link text-4xl leading-normal mt-5 font-semibold"
                        id={title}
                        href={`/shuoshuo/${id}`}
                        target="_self"
                        aria-label={title}
                    >
                        {title}
                        <i class="title-anchor my-auto icon-[material-symbols--arrow-forward-ios-rounded]" />
                    </a>
                </>
            )
        }
        {
            !id && (
                <h1
                    id={title}
                    class="text-4xl leading-normal mt-5 font-semibold"
                >
                    {title}
                </h1>
            )
        }
        <div class="article">
            <Content blocks={block} layout="article" />
        </div><div class="flex flex-row mt-8">
            <button class="basis-1/4 text-center btn btn-ghost">
                <div id={`waline-like-${id}`} class="flex items-center">
                    <i
                        class="text-2xl icon-[material-symbols--bar-chart-rounded]"
                    ></i>
                    <span
                        id={`comment-count-${id}`}
                        class="waline-pageview-count ml-2"
                        data-path={`/shuoshuo/${id}`}
                        ><span class="loading loading-dots loading-xs"
                        ></span></span
                    >
                </div>
            </button>
            <button
                id={`comment-button-${id}`}
                class="basis-1/2 text-center btn btn-ghost"
            >
                <div class="flex items-center">
                    <i class="text-2xl icon-[material-symbols--comment-outline]"
                    ></i>
                    <span
                        id={`comment-count-${id}`}
                        class="waline-comment-count ml-2"
                        data-path={`/shuoshuo/${id}`}
                        ><span class="loading loading-dots loading-xs"
                        ></span></span
                    >
                </div>
            </button>
            <button class="basis-1/4 text-center btn btn-ghost">
                <i class="text-2xl icon-[material-symbols--share-windows]"></i>
            </button>
        </div>
        <div
            id="waline-comment-system"
            data-server-url={SERVER_URL}
            shuoshuo-id={id}
        >
        </div>
        <div id={`waline-${id}`} class="unopen mt-8 not-link">
            <ShuoshuoComment title={title} />
        </div>
    </article>
</Card>
<script type="module" is:inline>
    const id = document
        .getElementById("waline-comment-system")
        .getAttribute("shuoshuo-id");
    document.getElementById("waline-comment-system").id =
        "waline-comment-system-done";
    const commentSection = document.getElementById(`waline-${id}`);
    commentSection.style.maxHeight = 0;
    document
        .getElementById(`comment-button-${id}`)
        .addEventListener("click", () => {
            if (commentSection.classList.contains("unopen")) {
                commentSection.classList.remove("unopen");
                const scrollHeight = commentSection.scrollHeight;
                commentSection.style.maxHeight = scrollHeight + 100 + "px";
                commentSection.classList.add("open");
            } else {
                commentSection.style.maxHeight = 0;
                commentSection.classList.remove("open");
                commentSection.classList.add("unopen");
            }
        });
</script>
